{% extends 'base.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block body %}

    {{ include('article/new.html.twig', {'button_label': 'Update'}) }}

    <form method="post" action="{{ path('article_delete', {'id': article.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
    <button class="btn btn-dark">Delete</button>
    </form>
    
{% endblock %}
